.pagination {
    display: inline-block;
    color: white;
    
    margin-left: 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #ff9999;
    border: 0.5px solid #ddd;
    margin-top: 13px;
    text-align: center;
    
  }
  body{
    text-align: center;
  }
  